<p>
  <b>Condition:</b>
  <%=h @timelost.condition %>
</p>

<p>
  <b>Description:</b>
  <%=h @timelost.description %>
</p>


<%= link_to 'Edit', edit_timelost_path(@timelost) %> |
<%= link_to 'Back', timelosts_path %>
