<p>
  <b>Name:</b>
  <%=h @occupation.name %>
</p>

<p>
  <b>Others:</b>
  <%=h @occupation.others %>
</p>


<%= link_to 'Edit', edit_occupation_path(@occupation) %> |
<%= link_to 'Back', occupations_path %>
