<p>
  <b>Condition:</b>
  <%=h @percipitation.condition %>
</p>

<p>
  <b>Description:</b>
  <%=h @percipitation.description %>
</p>


<%= link_to 'Edit', edit_percipitation_path(@percipitation) %> |
<%= link_to 'Back', percipitations_path %>
