<p>
  <b>Condition:</b>
  <%=h @visibility.condition %>
</p>

<p>
  <b>Description:</b>
  <%=h @visibility.description %>
</p>


<%= link_to 'Edit', edit_visibility_path(@visibility) %> |
<%= link_to 'Back', visibilities_path %>
